@media screen and (max-width: 320px){
    .welcome{
        font-size: 1.6rem !important;
    }
    .focus{
        text-align: left !important;
        text-align: justify !important;
    }
}


.drop{
    border: 2px solid black;
}
#cars{
    padding: 5px;
    border-radius: 10px;
}
body{
    background-color: rgb(229, 236, 241); 
}
.submit{
    background-color: white;
}
.casot{
    font-size: 20px !important;
}
.text{
    color: rgb(6, 93, 130) !important;
    font-size: 25px;
}
.sot{
    background-color: rgb(34, 34, 34);
}

/* Button used to open the contact form - fixed at the bottom of the page */
/* .open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  } */
  
  /* The popup form - hidden by default */
.form-popup {
    display: none;
    /* position: fixed;
    bottom: 0;
    right: 15px; */
    /* border: 3px solid #f1f1f1; */
    /* z-index: 9; */
  }
  /* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  