@media screen and (max-width: 768px){
    .welcome{
        font-size: 1.2rem !important;
    }
    .focus{
        text-align: left !important;
        text-align: justify !important;
        font-size: 14px !important;
    }
    .foc{
        font-size: 14px !important;
    }
    .will{
        font-size: 17px !important;
    }
    .account{
        font-size: 17px;
    }
    .sign{
        font-size: 18px !important;
        display: block;
    }
    .img{
        width: 100%;
        height: 150px;
    }
    .home, .about, .contact{
        font-size: 13px;
    }
    .buttons{
        font-size: 16px !important;
    }
    .dent{
        font-size: 18px !important;
    }
    .field{
        font-size: 13px !important;
    }
    ::placeholder{
        font-size: 13px !important;
    }
    .volvo{
        font-size: 13px !important;
    }
    .start{
        
    }
    /* Forgot Page */
    .forgot-pass{
        font-size: 25px;
    }
    .please{
        text-align: justify;
        font-size: 13px;
    }
}
.fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    /* height: 50px; */
    background-color: #0466a3;
  }
  /* .navbar-trans {
    background: transparent !important; 
} */
.focus{
    font-size: 20px;
}
.foc{
    font-size: 20px;
}
.welcome{
    font-size: 40px;
}
.start{
    cursor: pointer;
}
.drop{
    border: 2px solid black;
}
#cars{
    padding: 5px;
    border-radius: 10px;
}
body{
    /* background-color: rgb(229, 236, 241);  */
    background-color: #fff;
}
.submit{
    background-color: white;
}
.casot{
    font-size: 20px !important;
}
.text{
    color: rgb(6, 93, 130) !important;
    font-size: 25px;
}

/* Button used to open the contact form - fixed at the bottom of the page */
/* .open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  } */
  
  /* The popup form - hidden by default */
.form-popup {
    display: none;
    /* position: fixed;
    bottom: 0;
    right: 15px; */
    /* border: 3px solid #f1f1f1; */
    /* z-index: 9; */
  }
  /* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
.dent{
    text-align: center;
}
#studentForm{
    border: 8px solid rgb(141, 201, 243);
    background-color: rgb(192, 218, 236);
    border-radius: 20px;
    padding: 5px;
}
#nonStudentForm{
    border: 8px solid rgb(141, 201, 243);
    background-color: rgb(192, 218, 236);
    border-radius: 20px;
    padding: 5px;
}
#loginForm{
    border: 8px solid rgb(141, 201, 243);
    background-color: rgb(192, 218, 236);
    border-radius: 20px;
    padding: 5px;   
}
.button{
    text-align: center !important;
}
footer{
    width: 100%;
    height: 10rem;
    background-color: rgb(34, 34, 34);
}


/* About Us Page */
.second-page{
    margin-top: 5rem;
}
.about-text{
    text-align: justify;
}
/* Contact Us Page */
.third-page{
    margin-top: 5rem;
}

/* Forgot */
.forgot{
    margin-top: 6rem;
    text-align: center;
}
.sent{
    display: none;
}
.reset{
    color: #fff !important;
}

/* Footer */
